[connection]
id=$CONNECTION_ID
uuid=$CONNECTION_UUID
type=vpn

[vpn]
ca=$CONNECTION_CA_PATH
connection-type=password
dev=tun
password-flags=1
remote=$CONNECTION_IPPORT
remote-cert-tls=server
reneg-seconds=0
username=$NORDVPN_USERNAME
verify-x509-name=subject:$CONNECTION_CA_NAME
service-type=org.freedesktop.NetworkManager.openvpn
$CONNECTION_VARIANT_LINES

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
